<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>71999619836-s1c6693f2elb5min21d4284stu3kfqem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71999619836-s1c6693f2elb5min21d4284stu3kfqem</string>
	<key>API_KEY</key>
	<string>AIzaSyC0T2jxtyRLfMSayDwNl9LJ1FAj49KLM_I</string>
	<key>GCM_SENDER_ID</key>
	<string>71999619836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.d9.pokesearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-68576</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-68576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71999619836:ios:b67ec6b5e99aa011</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-68576.firebaseio.com</string>
</dict>
</plist>